<p>
  Bonjour <%= @service.mecano_profile.display_name%>, <br>
  <br>
  vous avez reçu un message de <%= @service.user.first_name.capitalize%> <%= @service.user.last_name.capitalize[0]%> concernant son <%= @service.vehicle.brand.capitalize%> <%= @service.vehicle.model.capitalize%> <%= @service.vehicle.trim%> de <%= @service.vehicle.year%>. <br>
  <br>
  Voici son message :

</p>
